<% if !@export %>
  <div class="info-bottom">
    <div class="info-row">
      <div class="l">
        <div class='authors'>
            <% @story.authors.each{|t| %>
              <div class='author js-u-dib'>
                <div class='avatar'>
                  <%= link_to image_tag(t.avatar_url, :class=>"avatar"),  author_path(t.permalink), :class => "avatar", :"data-toggle"=>"dropdown" %>
                </div>
                <div class='name'>
                  <%= link_to t.name, author_path(t.permalink), :title => t.name %>
                </div>
              </div>
            <% } %>
        </div>
      </div>

      <% if @section_count != 1 %>
        <div class="r">
            <div class='share'>
             <div class="addthis_native_toolbox"></div>
              <%= link_to '#',   :'data-modalos-id' => "modalos-embed", :title => t('app.common.embed', locale: @story.current_locale), :class => "embed modalEmbed" do %>
              <% end %>
              <% if @story.has_disclaimer %>
              <div class="disclaimer" data-tip="<%= t('storyteller.disclaimer_text') %>"><%= t('storyteller.disclaimer') %></div>
              <% end %>
            </div>
        </div>
      <% end %>
    </div>
    <div class="comments">
      <div class="fb-comments" data-href="<%= storyteller_show_url(:id=>@story.permalink,:sl => @story.current_locale) %>" data-num-posts="5" data-width="100%" id="fbComments"></div>
    </div>
    <% if !@stories.blank? %>
      <div class="related-links">
        <div class="h1"><%= t('storyteller.related_stories') %></div>
        <div class="themes">
          <span><%= t('storyteller.view_all_stories_in') %>&nbsp;</span>
          <% @story.themes.published.each { |t| %>
            <%= link_to t.name.split.map(&:capitalize).join(' '), theme_path(t.permalink) %>
          <% } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
