<%= semantic_form_for([:admin,@item]) do |f| %>
  <%= f.error_messages %>

  <%= f.inputs do %>
    <%= f.input :key %>
    <%= f.input :value %>
    <%= f.input :input_type, input_html: { readonly: true } %>
    <%= f.input :possible_values, input_html: { readonly: true } %>
  <% end %>

  <div>
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= f.submit t('helpers.links.reset'), :class => 'btn btn-warning', :type => :reset, :name => :reset %>
    <%= link_to t('helpers.links.cancel'), admin_configs_path, :class => 'btn btn-xs btn-warning' %>
  </div>

<% end %>
